*, ::after, ::before {
  box-sizing: border-box;
}

.EmployeeRow {
  display: flex;
  
  .ContactContainer {
    height: 100%;
    flex: 0 0 15%;
    max-width: 15%;
    text-align: center;

    .Employee__Contact {
      padding: 5px;
      border-right: 1px solid #444;
      height: 50px;
      line-height: 40px;
      border-bottom: 1px solid #444;
      font-weight: bold;
      background: #f5f5f5;
    }

    .EmployeRow__Header {
      .Employee__Contact {
        border-right: none;
      }
    }
  }

  .RosterContainer {
    position: relative;
    height: 100%;
    flex: 0 0 85%;
    max-width: 85%;
    overflow-x: auto;

    .InnerRosterContainer {
      .EmployeeRow_Row {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #444;
        position: relative;
      }
    
      .RosterEntry {
        position: absolute;
        height: 100%;
        padding: 10px 0;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
      }

      .EmployeRow__Header {
        background: #f5f5f5;
      }

      .HeaderEntry {
        position: absolute;
        height: 100%;

        .WordWrapper {
          position: absolute;
          width: 150px;
          right: -75px;
          text-align: center;
          line-height: 40px;
          font-weight: bold;
        }

        .HeaderMarker {
          position: absolute;
          width: 1px;
          right: 0;
          background: #000;
        }
      }
    }
  }
}

.ModalInput {
  display: block;
  width: 100%;
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.TableView {
  .TableHeader {
    width: 84%;
    margin-left: auto;
    display: flex;

    .TableHeader__Entry {
       -ms-flex: 0 0 14.2857143%;
        flex: 0 0 14.2857143%;
        max-width: 14.2857143%;
        text-align: center;
        font-weight: bold;
        padding: 10px 0;
    }
  }

  .TableContent {
    border-top: 1px solid #bbb;

    .Employee {
      border-bottom: 1px solid #bbb;
      display: flex;

      .Employee__Contact {
        -ms-flex: 0 0 16%;
        flex: 0 0 16%;
        max-width: 16%;
        border-right: 1px solid #bbb;
        padding: 14px 0;
        text-align: center;
        font-weight: bold;
      }

      .EmployeeDayEntry {
        -ms-flex: 0 0 12%;
        flex: 0 0 12%;
        max-width: 12%;
        display: flex;
        border-right: 1px solid #bbb;

        .Start, .End {
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;

          input {
            padding: 14px 0;
            border: none;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}